.bg-container-create {
  background-color: rgb(234, 252, 252);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  outline: none;
  padding: 0px 5px;
}

.back-btn:hover {
  background-color: rgba(225, 225, 225, 0.751);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
}

.form {
  background-color: white;
  box-shadow: 0px 0px 5px 0px #b6b6b6;
  width: 30%;
  padding: 30px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.form h3 {
  color: black;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 10px;
}

.input-title {
  width: 95%;
  height: 25px;
  background-color: transparent;
  border-radius: 8px;
  color: black;
  outline: none;
  padding: 5px;
  border: 1px solid #a5a5a5;
  font-size: 15px;
  margin-bottom: 10px;
  font-family: "Georgia", "Times New Roman", Times, serif;
}

.label {
  color: rgb(23, 24, 24);
  font-size: 15px;
  font-weight: 500;
}

.textarea-content {
  min-height: 100px;
  margin-bottom: 10px;
  width: 95%;
  border: 1px solid #a5a5a5;
  color: black;
  background-color: transparent;
  padding: 5px;
  outline: none;
  overflow-y: auto;
  border-radius: 8px;

  font-family: Georgia, "Times New Roman", Times, serif;
}

.textarea-content::-webkit-scrollbar {
  display: none;
}

.submit-btn {
  width: 100%;
  color: white;
  background-color: rgb(39, 91, 235);
  border-radius: 8px;
  font-size: 1rem;
  align-self: center;
  border: none;
  outline: none;
}

.err-msg {
  font-size: 12px;
  color: red;
}

.succ-msg {
  font-size: 12px;
  color: green;
}

/* createpost.css */
.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.toast {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 8px;
}

.toast.error {
  background-color: #dc3545;
}

.toast.success {
  background-color: #28a745;
}

.toast.info{
  background-color: #17a2b8;
}


@media screen and (max-width:768px){
  .form{
    width: 50%;
  }
}

@media screen and (max-width: 500px){
  .form{
    width: 70%;

  }
}
