.cat-ul{
    display: flex;
    align-items: center;
    width: 30%;
    overflow-x: auto;
}
.cat-li{
    list-style: none;
    margin-top: 10px;
}
.cat-ul::-webkit-scrollbar{
    display: none;
}

.cat-btn{
    background: none;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    height: 30px;
    font-size: 12px;
}
.cat-btn:hover{
    background-color: green;
    color: white;
    border-radius: 10px;
}
.ul-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.underline-btn{
    text-decoration: underline;
    text-decoration-color: green;
    color: green;
    border: none;
}
@media screen and (max-width:500px){
    .cat-ul{
        width: 60%;
    }
}
@media screen and (max-width:767px){
    .cat-ul{
        width: 40%;
    }
}